<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
<meta charset="utf-8">
<title>Inicio</title>
</head>
<body>

  <div layout:fragment="content">
	<div class="bg-light p-5 rounded">
	   <h2 class="display-1 text-success">Bienvenido al proyecto Dysney alkemy</h2>
	   <h3>Sientase libre de explorar el catalogo de peliculas, series y personajes emblematicos de Disney</h3>
	</div>	
	
  </div> 
</body>
</html>